<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Customer</title>
</head>
<body>
	<div>
		<h2>New Meal</h2>
		<form th:action="@{/addCustomer}" th:object="${customer}" th:method="POST">
			<table>
				<tr>
					<td>Customer ID</td>
					<td><input type="text" th:field="*{id}"/></td>
				</tr>

				<tr>
					<td>Customer Name</td>
					<td><input type="text" th:field="*{name}"/></td>
				</tr>
				<tr>
					<td>Customer Address</td>
					<td><input type="text"  th:field="*{address}"/></td>
				</tr>
				<tr>
					<td>Waiter ID</td>
					<td><input type="text" th:field="*{waiter_id}"/></td>
				</tr>
				<tr>
                    <td><input type="submit" value="Submit"/></td>
                    <td></td>
                </tr>
			</table>
		
		</form>
	</div>
</body>
</html>